{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/change-password" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Enter you new password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm your new password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old-password" name="old-password" placeholder="Enter your old password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

<!-- Uncomment below to enable password verification -->
<!-- <p id="error" class="text-center text-danger w-50 mx-auto mt-3"></p> -->
<!-- <script src="./static/validate.js" type="text/javascript"></script> -->
{% endblock %}
